<br>
<h1 style="text-align: center;">IT / Technical courses</h1>
<br>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6">

            <div class="card" style="margin-bottom:40px">
                <div class="container">
                    <img src="/assets/img1.png" class="card-img-top" alt="...">
                    <h3 style="font-size: 30px;
                    font-weight: 700;
                    color: #032D60;">Web design course</h3>

                    <div class="info">
                        <span>2 Months</span>
                        <span style="float: right;">5 Skills</span>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <ul class="check-list-tick">
                        <li>Learn HTML,CSS,Javascript,jQuery</li>
                        <li>Responsive website with Bootstrap</li>
                        <li>PSD to Html conversion</li>
                        <li>Create website from scratch</li>
                    </ul>

                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>


        </div>




        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card" style="margin-bottom:40px">
                <div class="container">
                    <img src="a2n_assets/img/course/web-dev.png" class="card-img-top" alt="...">
                    <h3 style="font-size: 30px;
                    font-weight: 700;
                    color: #032D60;">Web design course</h3>
                    <div class="info">
                        <span>2 Months</span>
                        <span style="float: right;">5 Skills</span>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <ul class="check-list-tick">
                        <li>Learn HTML,CSS,Javascript,jQuery</li>
                        <li>Responsive website with Bootstrap</li>
                        <li>PSD to Html conversion</li>
                        <li>Create website from scratch</li>
                    </ul>

                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>


        </div>







        <div class="col-xl-4 col-lg-6 col-md-6">

            <div class="card" style="margin-bottom:40px">
                <div class="container">
                    <img src="a2n_assets/img/course/web-dev.png" class="card-img-top" alt="...">
                    <h3 style="font-size: 30px;
                    font-weight: 700;
                    color: #032D60;">Web design course</h3>

                    <div class="info">
                        <span>2 Months</span>
                        <span style="float: right;">5 Skills</span>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <ul class="check-list-tick">
                        <li>Learn HTML,CSS,Javascript,jQuery</li>
                        <li>Responsive website with Bootstrap</li>
                        <li>PSD to Html conversion</li>
                        <li>Create website from scratch</li>
                    </ul>

                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>
        </div>




        <div class="col-xl-4 col-lg-6 col-md-6">

            <div class="card" style="margin-bottom:40px">
                <div class="container">
                    <img src="a2n_assets/img/course/web-dev.png" class="card-img-top" alt="...">
                    <h3 style="font-size: 30px;
                    font-weight: 700;
                    color: #032D60;">Web design course</h3>

                    <div class="info">
                        <span>2 Months</span>
                        <span style="float: right;">5 Skills</span>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <ul class="check-list-tick">
                        <li>Learn HTML,CSS,Javascript,jQuery</li>
                        <li>Responsive website with Bootstrap</li>
                        <li>PSD to Html conversion</li>
                        <li>Create website from scratch</li>
                    </ul>

                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>


        </div>





        <div class="col-xl-4 col-lg-6 col-md-6">

            <div class="card" style="margin-bottom:40px">
                <div class="container">
                    <img src="a2n_assets/img/course/web-dev.png" class="card-img-top" alt="...">
                    <h3 style="font-size: 30px;
                    font-weight: 700;
                    color: #032D60;">Web design course</h3>

                    <div class="info">
                        <span>2 Months</span>
                        <span style="float: right;">5 Skills</span>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <ul class="check-list-tick">
                        <li>Learn HTML,CSS,Javascript,jQuery</li>
                        <li>Responsive website with Bootstrap</li>
                        <li>PSD to Html conversion</li>
                        <li>Create website from scratch</li>
                    </ul>

                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>


        </div>





        <div class="col-xl-4 col-lg-6 col-md-6">

            <div class="card" style="margin-bottom:40px">
                <div class="container">
                    <img src="a2n_assets/img/course/web-dev.png" class="card-img-top" alt="...">
                    <h3 style="font-size: 30px;
                    font-weight: 700;
                    color: #032D60;">Web design course</h3>

                    <div class="info">
                        <span>2 Months</span>
                        <span style="float: right;">5 Skills</span>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <ul class="check-list-tick">
                        <li>Learn HTML,CSS,Javascript,jQuery</li>
                        <li>Responsive website with Bootstrap</li>
                        <li>PSD to Html conversion</li>
                        <li>Create website from scratch</li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>


        </div>

    </div>

</div>

<img src="img1.png" alt="" height="60px">