<nav class="navbar navbar-expand-lg " style="background-color: #1a73e8;">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Navbar w/ text</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navstyle" aria-current="page" href="#"><i class="fa-solid fa-phone"></i>
                        +919999999999</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navstyle" href="#"><i class="fa-solid fa-envelope"></i> connect@gmail.com</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li> -->
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link navstyle" href="#">Become Instructor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navstyle" href="#">Corporate Training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navstyle" href="#">Internship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navstyle" href="#">Hire with us</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</nav>



<!-- 2nd nav -->
<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar w/ text</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                        style="background-color: #1a73e8;color:#fff;">
                        All Courses
                    </button>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link navstyle1" href="#">Become Instructor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navstyle1" href="#">Corporate Training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navstyle1" href="#">Internship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navstyle1" href="#">Hire with us</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</nav>



ajay
